/* .react-pdf__Page {
  width: calc(90vw - 50px) !important;
  max-width: 500px !important;
  height: 60vh;
  @apply my-3;
}
canvas {
  width: 100% !important;
  height: 60vh !important;
}

@screen sm {
  .react-pdf__Page {
    width: calc(100vw - 50px) !important;
    max-width: 800px !important;
    height: 100vh;
    @apply my-5;
  }
  canvas {
    width: 100% !important;
    height: 100vh !important;
  }
}

@screen md {
  .react-pdf__Page {
    width: calc(100vw - 50px) !important;
    max-width: 900px !important;
    height: 130vh;
    @apply my-5;
  }
  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

@screen lg {
  .react-pdf__Page {
    width: calc(100vw - 50px) !important;
    max-width: 1000px !important;
    height: 150vh;
    @apply my-10;
  }
  canvas {
    width: 100% !important;
  }
} */
